.DropDownList {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  position: absolute;
  border-radius: 10px;
  background-color: #0e0e0e;

  &__searchInput {
    all: unset;

    padding: 8px;
    margin: 15px 10px;
    background-color: #171717;
    border-radius: 5px;

    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;

    &::placeholder {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &__list {
    all: unset;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #353535 #171717;

    & > li {
      margin: 0 5px 5px 5px;

      &:last-child {
        margin: 0 5px;
      }
    }
  }
}
