.button {
  cursor: pointer;
  border: 0;

  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-weight: 600;

  background-color: #4567bd;
  padding: 15px 40px;
  border-radius: 12px;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #344f91;
  }
}
