.convertDisplay {
  display: flex;
  margin-top: 40px;

  &[data-open="true"] {
    justify-content: start;
  }

  &[data-open="false"] {
    justify-content: end;
  }

  &__result {
    & > * {
      display: block;
    }

    & > span:first-child {
      margin-bottom: 10px;

      font-size: 18px;
      font-weight: 550;
      color: #959595;
    }

    & > span:last-child {
      font-size: 30px;
      font-weight: 550;
      color: #ffffff;
    }
  }

  @media screen and (max-width: 1100px) {
    &[data-open="false"] {
      justify-content: center;
    }
  }
}
