.listItem {
  all: unset;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: start;
  padding: 12px;
  border-radius: 10px;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: rgba(217, 217, 217, 0.34);
  }
}
